
/* Rectangle 2 */
.rect2{
    justify-content: flex-start;
    display: flex;
    position: absolute;
    width: 100%;
    height: 224px;
    left: 0px;
    top: 2079px;
    text-align: center;
    background: #404040;}



/* SEARCH */
.search{
    width: 49px;
    height: 15px;
    left: 1447px;
    top: 2175px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    
    color: #FFFFFF;
    }

/* TRIPLE KIM */
.logo{
    
    width: 265px;
    height: 58px;
    left: 50px;
    top: 2160px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    /* identical to box height */
    
    color: #FFFFFF;}






/* Rectangle 1 */
.rect1{
    
    width: 306px;
    height: 58px;
    left: 1500px;
    top: 2153px;
    
    background: #F1F1F1;
    backdrop-filter: blur(2px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 50px;}


/* Line 3 */
.line3{
    position: absolute;
    width: 8.94px;
    height: 0px;
    left: 1776px;
    top: 2182.5px;
        
    border: 1px solid #717171;
    transform: rotate(26.57deg);
}


/* Rectangle 3 */
.rect3{
    justify-content: flex-start;
    display: flex;
    position: absolute;
    width: 100%;
    height: 37px;
    left: 0px;
    top: 2303px;
    
    background: #EDEDED;}

/* 하단 회사소개 */
.company{
    
    width: 1318px;
    height: 17px;
    left: 30px;
    top: 2308px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 100;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    
    color: #4B4A4A;}

/* 이용약관 */
.tag1{
    
    width: 80px;
    height: 17px;
    left: 166px;
    top: 2308px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    
    color: #4B4A4A;}




/* 개인정보처리방침 */
.tag2{
    
    width: 130px;
    height: 17px;
    left: 248px;
    top: 2308px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    
    color: #4B4A4A;
    
}




/* 이용안내 */
.tag3{

    width: 80px;
    height: 17px;
    left: 382px;
    top: 2308px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    
    color: #4B4A4A;}




/* 광고문의 */
.tag4{

    width: 80px;
    height: 17px;
    left: 464px;
    top: 2308px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    
    color: #4B4A4A;}




/* CALL CENTER */
.call{
    position: absolute;
    width: 180px;
    height: 29px;
    left: 83px;
    top: 2383px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100;
    font-size: 18px;
    line-height: 22px;
    
    color: #000000;}




/* 032 - 123 - 1234 */
.phonenum{position: absolute;
    width: 160px;
    height: 26px;
    left: 83px;
    top: 2424px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    
    color: #000000;}




/* 12345678910112 */
.banknum{position: absolute;
    width: 160px;
    height: 26px;
    left: 343px;
    top: 2424px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    
    color: #000000;}




/* BANK */
.bank{position: absolute;
    width: 160px;
    height: 29px;
    left: 343px;
    top: 2383px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100;
    font-size: 18px;
    line-height: 22px;
    
    color: #000000;}




/* AM 10 : 10 ~ PM 17 : 00 */
.time{position: absolute;
    width: 105px;
    height: 12px;
    left: 83px;
    top: 2462px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100;
    font-size: 10px;
    line-height: 12px;
    
    color: #000000;}




/* 새싹은행 예금주 : (주)삼김 */
.bankname{position: absolute;
    width: 150px;
    height: 30px;
    left: 343px;
    top: 2462px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    
    color: #000000;}




/* Line 4 */
.line4{
    position: absolute;
    width: 155px;
    height: 0px;
    left: 210.24px;
    top: 2445px;
    
    border: 1px solid #B9B8B8;
    transform: rotate(-90deg);}




