@charset "UTF-8";
body{
    margin: 0;
    padding: 0;
    font-family: 'Gabarito', sans-serif;
}
h1, h2, h3, h4, h5{ margin: 0; padding: 0;}
p, div, span, a{ margin: 0; padding: 0; text-decoration: none;}
a{text-decoration: none; color:black;}


footer{
    width: calc(100vw - var(--scrollbar-width));
    height: 45vh;
    
    box-sizing: border-box;
	display: block;
    background-color: rgb(228, 228, 228);
    
}
    .above{ /* footer의 위쪽 제일 큰 상자*/
        width:100%;
        height: 40%;
        box-sizing: border-box;

        display: flex;
        justify-content: center;
        align-items: center;

        border-bottom: 0.5px solid rgb(255, 255, 255);
    }
        .wrap-content{
            width: 80%;
            height: 100px;
            box-sizing: border-box;
            
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
        }
            #logo{ font-size: 6vh;font-weight: 900;}
            .wrap-search-content{
                width: 450px;
                height: 60px;

                padding-left: 15px;
                padding-right: 10px;

                display: flex;
                justify-content: space-between;
                align-items: center;

                background-color: rgb(87, 87, 87);
                border-radius: 20px;
                box-sizing: border-box;
            }
                .search-input{
                    width: 88%;
                    height: 90%;
                    font-size: 24px;

                    border: none;
                    padding: 0px 0px 0px 20px;

                    box-sizing: border-box;
                    outline: none;

                    background-color: rgb(87, 87, 87);
                    color: white;
                }
                .search_button{
                    font-size: 30px;
                    color: white;
                }
    .bottom{
        width: 100%;
        height: 60%;
        box-sizing: border-box;

        display: flex;
        flex-direction: column;

    }
        .bottom-menu{
            height: 4vh;

            display: flex;
            align-items: center;

            font-size: 1.1em;
            box-sizing: border-box;
            
        }
            .bottom-menu a{
                margin: 0vw 2vw 0vw 2vw;
            }
        .bottom-desc{
            height: 100%;

            display: flex;
            align-items: center;

            padding-left: 2vw;

        }
            .desc-for-info, .desc-for-account{
                height: 70%;

                display: flex;
                flex-direction: column;
                justify-content: space-between;

                
            }
            .desc-for-info{padding-right: 2vw;}
            .desc-for-account{padding-left: 2vw;}
        

/*
    반응형 일 때
*/

@media only screen
and (max-width: 900px){
    .wrap-content{
        justify-content: center;
        align-items: center;
    }
        .wrap-search-content{height: 50px;}
    .bottom-menu{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .bottom-desc{
        display: flex;
        justify-content: space-around;
    }
    
}

/*
    반응형 아닐 때
*/
@media only screen
and (min-width: 901px){

}