@charset "UTF-8";
.big-img{
            width: 70vw !important;
            height: 44vw !important;
            object-fit: cover;
        }
        @media only screen
        and (max-width:430px){
            .kth-product-desc{
                display: none;
            }
        }
        .cart-shopping{
            position: absolute;
            right: 10px;
            top: 0px;
            margin: 15px;
            -webkit-text-stroke: 1px rgb(148, 148, 148);
            color: rgb(255, 255, 255);
        }

/*
p, h1, h2, h3, h4, h5, div, section{
    padding: 0;
    margin: 0;
}
main{
    position: relative;
    width: 100%;
    height: auto;
    margin: 0;
    box-sizing: border-box;
}
.s1_product_img, .s2_product_img{
    position: relative;
    left: 50%;
    transform: translate(-50%);
}
.s1_product_img{
    display: flex;
    width: 100%;
    height: 40vw;
    border: 1px solid rgb(158, 158, 158);
}
.s2_product_img{
    display: flex;
    width: 100%;
    height: 40vw;
    border: 1px solid brown;
    margin-top: 10px;
    margin-bottom: 10px;
    gap: 0.3rem;
}

.s1_img{
    width: 100%;
    background-color: black;
}
.s2_img{
    width: 50%;
    background-color: black;
}
.s1s2img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.s3_product_container{
    --auto-grid-min-size: 20rem;
  
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
  grid-gap: 0.5rem;

}
    .s3_product{

        text-align: center;
        height: 30vh;
        border: 1px solid black;
    }
        .s3_link{
            width: 100%;
            height: 80%;

            display: block;

            background-color: lightpink;
        }
        .product_info{
            width: 100%;
            height: 20%;

            background-color: cyan;
        }

@media only screen
and (max-width: 450px){
    .s1_product_img{
        height: 80vw;
    }
    .s2_product_img{
        height: 80vw;
    }
    .s3_product_container{
        --auto-grid-min-size: 10rem;
    }
}
@media only screen
and (min-width: 451px)
and (max-width: 700px){
    .s1_product_img{
        height: 80vw;
    }
    .s2_product_img{
        height: 80vw;
    }
    .s3_product_container{
        --auto-grid-min-size: 12rem;
    }
}
@media only screen
and (min-width: 701px){
    .s3_product_container{
        --auto-grid-min-size: 13.7rem;
    }
}
@media only screen
and (min-width: 901px){
    .s3_product_container{
        padding: 10px;
        padding-left: 20px;
        padding-right: 20px;
        --auto-grid-min-size: 15rem;
    }
}
@media only screen
and (min-width: 1240px){
    .s3_product_container{
        padding: 10px;
        padding-left: 20px;
        padding-right: 20px;
        --auto-grid-min-size: 17rem;
    }
}
@media only screen
and (min-width: 1400px){
    .s1_product_img, .s2_product_img{
        position: relative;
        left: 50%;
        transform: translate(-50%);

        padding-left: 20px;
        padding-right: 20px;
        box-sizing: border-box;
    }
    .s3_product_container{
        padding: 10px;
        padding-left: 20px;
        padding-right: 20px;
        --auto-grid-min-size: 20rem;
    }
}
*/