html{
    width: 100%;
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: rgb(133, 133, 133);
}
main{
    margin-left: 50%;
    width: 70%;
    height: 70%;
    border: 1px solid black;
    transform: translateX(-50%);
    display: flex;
}

/* img_container와 info_container를 감싸는 요소
   수평정렬을 한다
*/
.product{
    width: 100%;
    height: 70%;
    margin-top:5%;
    display: flex;
    justify-content: space-between;
}

.img_container{
    width: 45%;
}
.product_img{
    width: 100%;
    height: 100%;
}

.info_container{
    width: 55%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.product_name{
    width: 70%;
    height:10%;
    font-size: 20px;
    border-bottom: 1px solid grey;
}
.middle{
    width: 70%;
    display: flex;
    flex-direction: column;
}
.product_desc{
    width: 70%;
    height:10%;
}
.product_quantity{
    width: 70%;
    height:10%;
    padding-bottom: 20px;
    border-bottom: 1px solid grey;
}
.btn_container{
    width: 30%;
    height:10%;
}
.product_total{
    width: 70%;
    height:10%;
}
input[type="submit"]{
    width: 200px;
    border: 1px solid rgb(133, 133, 133);
    background-color: white;
    padding: 20px;
    margin-right: 50px;
    transition: 0.5s ease;
    border-radius: 20px; 
}
input[type="submit"]:hover{
    background-color: rgb(180, 180, 180);
    transition: 0.8s ease;
    border-radius: 50px; 
    color: white;
    cursor:pointer;
}
.add{
    outline: none;
    width: 50px;
    height: 30px;
    border: 1px solid black;
    background-color: white;
    cursor:pointer;
}
.minus{
    background-color: white;
    outline: none;
    width: 50px;
    height: 30px;
    border: 1px solid black;
    cursor:pointer;
}
.add:hover{
    transition: 0.5s ease;
    background-color: lightblue;
}
.minus:hover{
    transition: 0.5s ease;
    background-color: rgb(179, 0, 255);
}