@charset "UTF-8";
html{
    width: 100%;
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
main{
    position: relative;
    width: 100%;
    display:flex;
    justify-content: space-around;
    flex-direction: column;
    padding-top: 50px;
}

.rows{
    width: 50vw;
    height: 60vw;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 1%;
    display: flex;
    flex-direction: column;
}
h3{
    padding-bottom: 10px;
    width: 70%;
    margin: 0;
    margin-left: 50%;
    transform: translateX(-50%);
    font-size: 1vw;
}
h3::after{
    content: " ";
    display: block;
    width: 70vw;
    height: 1px;
    background-color: black;
}
.page_number{
    width: 50vw;
    height: 10vw;
    margin-left: 50%;
    transform: translateX(-50%);
}

.caption{
    width: 100%;
    height: 3vw;
}
.rows .row:nth-child(2n){
    background-color: grey;
}
.rows .row:nth-child(2n+1){
    background-color: white;
}
.row{
    width: 100%;
    height: 3vw;
}
.title, .row{
    display: flex;
}
.date{
    flex: 0.7;
}
.title{
    flex: 2;
}
.writer{
    flex: 1;
}
.good{
    flex: 0.5;
}
.caption, .row{
    align-items: center;
}
.caption span, .row span{
    margin-left: 10px;
}
.caption{
    list-style-type: none;
    text-decoration: none;
    color: black;
    display: flex;
}

.page_number{
    display: flex;
    justify-content: center;
}
.page_number_inner_container{
    display: flex;
    width: 300px;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
}
.page_number_inner_container > a{
    width: 30px;
    height: 30px;
    display: flex;
    border-radius: 10px;
    background-color: rgb(209, 209, 209);
    justify-content: center;
    align-items: center;
}
.number_group{
    width: 200px;
    display: flex;
    justify-content: space-around;
}
.number_group a:hover{
    color: red;
    transition: 0.6s ease;
}

.search_container{
    width: 50vw;
    height: 15vw;
    margin-left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
}
.search_inner_container{
    margin-top: 10px;
    width: fit-content;
    display: flex;
    align-items: center;
}
select{
    width: 100px;
    text-align: center;
    outline: none;
    border-radius: 10px;
    border : 1px solid rgb(226, 226, 226);
}
.input_container input{
    width: 350px;
    height: 30px;
    font-size: 14px;
    outline: none;
    border: none;
    background-color: rgb(224,224,224);
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 20px;
    border-radius: 10px;
}
select, .input_container, input[type="submit"]{
    display: inline-block;
    height: 30px;
}
input[type="submit"]{
    width:100px;
    outline: none;
    border: none;
    border-radius: 10px;
    border: 1px solid rgb(224,224,224);
}