<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>Triple_kim3</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>/WEB-INF/view/index.jsp</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
	  <servlet-name>login</servlet-name>
	  <servlet-class>ProcessHeaderMenuController</servlet-class>
  </servlet>
  <servlet-mapping>
	  <servlet-name>login</servlet-name>
	  <url-pattern>/view/login</url-pattern>
  </servlet-mapping>
  <servlet>
	  <servlet-name>membership</servlet-name>
	  <servlet-class>ProcessHeaderMenuController</servlet-class>
  </servlet>
  <servlet-mapping>
	  <servlet-name>membership</servlet-name>
	  <url-pattern>/view/membership</url-pattern>
  </servlet-mapping>
  <servlet>
	  <servlet-name>basket</servlet-name>
	  <servlet-class>ProcessHeaderMenuController</servlet-class>
  </servlet>
  <servlet-mapping>
	  <servlet-name>basket</servlet-name>
	  <url-pattern>/view/basket</url-pattern>
  </servlet-mapping>
  <servlet>
	  <servlet-name>mypage</servlet-name>
	  <servlet-class>ProcessHeaderMenuController</servlet-class>
  </servlet>
  <servlet-mapping>
	  <servlet-name>mypage</servlet-name>
	  <url-pattern>/view/mypage/profile</url-pattern>
  </servlet-mapping>
  
  
  
  
  <servlet>
	  <servlet-name>loginDo</servlet-name>
	  <servlet-class>ProcessAccountController</servlet-class>
  </servlet>
  <servlet-mapping>
	  <servlet-name>loginDo</servlet-name>
	  <url-pattern>/view/login.do</url-pattern>
  </servlet-mapping>
</web-app>