<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>Triple_kim3_admin</display-name>
  <welcome-file-list>
    <welcome-file>/WEB-INF/view/adminProduct.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
	  <servlet-name>logistic_product</servlet-name>
	  <servlet-class>adminProductController</servlet-class>
  </servlet>
  <servlet-mapping>
	  <servlet-name>logistic_product</servlet-name>
	  <url-pattern>/get/logistic_product/*</url-pattern>
  </servlet-mapping>
  
  <!-- 본상품으로 추가하는 코드 -->
  <servlet>
	  <servlet-name>product</servlet-name>
	  <servlet-class>adminProductController</servlet-class>
  </servlet>
  <servlet-mapping>
	  <servlet-name>product</servlet-name>
	  <url-pattern>/put/product</url-pattern>
  </servlet-mapping>
  
</web-app>